.App {
  text-align: center;
}

.textWelcome {
  padding-top: 30px;
}

.typographySecondary {
  color: #8f8f8f;
}

.holderTextField {
  display: flex;
  height: 240px;
  width: 400px;
  flex-direction: column;
  border: 1px solid lightgray;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 35px;
  margin: auto;
  margin-top: 50px;
  border-radius: 11px;
}

.holderSignUpTextField {
  display: flex;
  height: 470px;
  width: 400px;
  flex-direction: column;
  border: 1px solid lightgray;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 35px;
  margin: auto;
  margin-top: 50px;
  border-radius: 11px;
}

.listBooks {
  display: flex;
  flex-wrap: wrap;
  background: #fafafa;
  padding: 20px;
  border: 1px solid lightgray;
  margin: 100px;
  margin-top: 50px;
  border-radius: 10px;
}

.textWelcome .btnSearch {
  margin-top: 30px;
}

.profileContainer {
  display: flex;
}

.leftSection {
  flex-grow: 3;
  max-width: 78%;
  border-radius: 5px;
  background: #fafafa;
  padding: 15px;
  border: 1px solid lightgray;
  margin: 25px;
  border-radius: 10px;
}

.leftSection .profileList {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0px;
}

.rightSection {
  height: 200px;
  flex-grow: 1;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 25px;
  background: #fafafa;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.App .bookLoginBtn {
  position: absolute;
  top: 15px;
  right: 25px;
}

.modalTextField {
  padding-bottom: 15px !important;
}

.title {

}

.description {
  color: gray;
}